.map-container {
  width: 100%;
}

.map-title-container {
  padding: 0 10px;
}

.map-pin-info {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--basic-white);
}

.map-pin-title {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-red);
}

.map-pin-title span {
  color: var(--basic-black);
}

.map-pin-info:hover .map-pin-title span {
  color: var(--basic-red);
}

.map-pin-text {
  padding: 0;
  margin: 0;

  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: var(--basic-black);
}

.map-container {
  height: 400px;
  background-color: rgb(152, 196, 247);
}

.map-details-container {
  display: none;
}

@media (min-width: 1000px) {
  .map-content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
  }

  .map-title-container {
    margin: 0 auto;
    width: 970px;
    padding: 0 15px;
  }

  .map-container {
    height: 455px;
    width: 750px;
  }

  .map-details-container {
    display: block;
    width: 290px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .map-details-container .map-pin-info {
    background-color: transparent;
    margin-bottom: 10px;
  }

  .map-details-container .map-pin-info:hover {
    background-color: var(--basic-white);
  }
}
