@import "~normalize.css";
@import "fonts.css";

/* Variables */

:root {
  --basic-black: #181818;
  --basic-white: #ffffff;
  --basic-red: #b72828;
  --basic-green: #2a6c20;
  --basic-yellow: #dcad42;
  --opacity-white: rgba(255, 255, 255, 0.8);

  --light-gray: #c4c4c4;
  --full-dark-gray: #44515d;
  --dark-gray: rgba(68, 81, 93, 0.8);
  --semi-dark-gray: rgba(68, 81, 93, 0.7);
  --medium-dark-gray: rgba(68, 81, 93, 0.3);
  --light-dark-gray: rgba(68, 81, 93, 0.05);
  --bg-gray: #f6f6f7;
  --dark-red: #9f2323;
  --bg-error: #fdd6d6;

  --border-radius: 10px;
}

/* Global */

img {
  max-width: 100%;
  height: auto;
}

/* Custom styles */

.app,
.page-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  background-color: var(--bg-gray);
  color: var(--basic-black);
}

.button {
  display: inline-block;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--full-dark-gray);
  padding: 7px 12px;
  border-radius: 20px;
  background: transparent;
}

.dark-button {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  display: block;
  padding: 7px 12px;
  border-radius: 20px;
  color: var(--basic-white);
  background-color: var(--full-dark-gray);
  border: 2px solid var(--full-dark-gray);
  cursor: pointer;
}

.dark-button:hover {
  background-color: var(--semi-dark-gray);
  border: 2px solid var(--semi-dark-gray);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hidden {
  display: none;
}

.wrapper {
  margin: 0 auto;
}

.main-title {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);

  text-align: center;
}

.section-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
}

.page-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.page-text {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--full-dark-gray);
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.page-link {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-red);
  text-decoration: none;

  display: inline-block;
  vertical-align: middle;
  padding: 5px 10px;
  padding-left: 30px;
  border: 2px solid var(--basic-red);
  border-radius: 20px;
  position: relative;
}

.page-link::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  padding: 3px;
  background: var(--basic-red) url(../assets/img/arrow.svg) no-repeat;
  background-position: center;
}

.page-link:hover,
.page-link:focus {
  border: 2px solid var(--full-dark-gray);
}

@keyframes dots {
  to {
    width: 40px;
  }
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: var(--semi-dark-gray);
}

.loader::after {
  content: "\2022 \2022 \2022";
  color: var(--semi-dark-gray);
  display: inline-block;
  overflow: hidden;
  vertical-align: baseline;
  animation: dots steps(4, end) 2s infinite;
  width: 0;
}

/* Layout */

@media (min-width: 320px) {
  .page-body {
    min-width: 320px;
  }

  .wrapper {
    padding: 0 10px;
  }

  .section-title {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
  }
}

@media (min-width: 600px) {
  .page-body {
    min-width: 600px;
  }

  .main-title {
    font-size: 28px;
    line-height: 36px;
  }

  .section-title {
    font-size: 24px;
    line-height: 30px;
    text-align: left;
  }
}

@media (min-width: 1000px) {
  .page-body {
    min-width: 1000px;
  }

  .main-title {
    font-size: 36px;
    line-height: 44px;
  }
}
