@import "~normalize.css";
@import "fonts.css";

/* Variables */

:root {
  --basic-black: #181818;
  --basic-white: #ffffff;
  --basic-red: #b72828;
  --basic-green: #2a6c20;
  --basic-yellow: #dcad42;
  --opacity-white: rgba(255, 255, 255, 0.8);

  --light-gray: #c4c4c4;
  --full-dark-gray: #44515d;
  --dark-gray: rgba(68, 81, 93, 0.8);
  --semi-dark-gray: rgba(68, 81, 93, 0.7);
  --medium-dark-gray: rgba(68, 81, 93, 0.3);
  --bg-gray: #f6f6f7;
  --dark-red: #9f2323;

  --border-radius: 10px;
}

/* Global */

img {
  max-width: 100%;
  height: auto;
}

/* Custom styles */

.app,
.page-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  background-color: var(--bg-gray);
  color: var(--basic-black);
}

.page-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 60px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hidden {
  display: none;
}

.wrapper {
  margin: 0 auto;
}

.section-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--basic-black);
}

/* Layout */

@media (min-width: 320px) {
  .page-body {
    min-width: 320px;
  }

  .wrapper {
    padding: 0 10px;
  }

  .section-title {
    text-align: center;
  }
}

@media (min-width: 600px) {
  .page-body {
    min-width: 600px;
  }
}

@media (min-width: 1000px) {
  .page-body {
    min-width: 1000px;
  }
}
