@import '~normalize.css';
@import 'fonts.css';

body {
    color: white;
    background-color: black;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 60px;
}

.text {
  color: palevioletred;
}
