/* Home page */
.menu-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.menu-page .wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu-page .controls-list {
  margin: 0 auto;
}

.favorites-page .section-title {
  text-align: left;
}

.favorites-top-row {
  display: flex;
  justify-content: space-between;
}

.favorites-page .wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.favorites-page .cart-button {
  display: none;
}

.favorites-page .favorites-button {
  top: auto;
  bottom: 10px;
  background-color: var(--bg-gray);
}

.favorites-page .card-mark {
  display: none;
}

.favorites-page .favorites-button:hover {
  background-color: var(--medium-dark-gray);
}

.favorites-page .card-pizza-kcal {
  display: none;
}

.favorites-list-section {
  margin: 0 auto;
  margin-bottom: 50px;
}

.pizza-page .wrapper {
  padding-top: 30px;
}

.pizza-page .pizza-details {
  margin-bottom: 50px;
}

.pizza-page .reviews {
  margin-bottom: 30px;
}

.pizza-page .controls-list {
  margin: 0 auto;
  margin-top: 20px;
}

.pizza-page .reviews-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.pizza-page .reviews-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: var(--basic-black);
}

.pizza-page .reviews-count {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: var(--full-dark-gray);
}

.pizza-page .reivews-new-review-link {
  display: none;
}

.cart-page .main-title {
  text-align: left;
}

.cart-page .wrapper {
  padding: 30px 15px;
  margin: 0 auto;
}

.cart-page .cart-list {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
}

@media (min-width: 320px) {
  .home-page .wrapper {
    margin-bottom: 40px;
  }

  .home-page .button-full-menu {
    order: 1;
    position: static;
  }

  .home-page .sort-list {
    margin: 20px 0 30px 0;
  }

  .home-page .controls-list {
    position: absolute;
    right: 10px;
    bottom: 0;
  }
}

@media (min-width: 600px) {
  .home-page .button-full-menu {
    order: 0;
    position: absolute;
  }

  .home-page .sort-list {
    margin: 0 0 30px 0;
    max-width: 450px;
    margin-left: auto;
  }

  .home-page .section-title {
    padding-left: 30px;
  }

  .home-page .controls-list {
    top: 60px;
    bottom: auto;
  }

  .wrapper.menu-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .home-page .cards-list-wrapper {
    width: 100%;
  }

  .home-page .card {
    margin-right: 25px;
  }

  .home-page .card:nth-child(3n) {
    margin-right: 0;
  }

  .home-page .controls-list {
    position: absolute;
    right: 15px;
    bottom: 0;
  }

  .menu-page .main-title {
    text-align: left;
  }

  .menu-page .menu-filters-container {
    display: flex;
  }

  .menu-page .menu-section {
    flex-grow: 1;
  }

  .menu-page .controls-list {
    margin-right: 0;
    margin-left: auto;
  }

  .menu-page .card {
    margin-right: 25px;
  }

  .menu-page .card:nth-child(2n) {
    margin-right: 0;
  }

  .favorites-list-section {
    width: 440px;
  }

  .favorites-page .cards-list {
    flex-direction: column;
  }

  .favorites-page .card {
    width: 100%;
    flex-direction: row;
  }

  .favorites-page .card-image-container-link {
    margin: 0;
    margin-right: 20px;
    width: 93px;
    height: 93px;
  }

  .favorites-page .card-image-container-link img {
    width: 93px;
    height: 93px;
  }

  .favorites-page .rating-stars {
    display: none;
  }

  .favorites-page .ingredients-favorites {
    display: block;
    width: 260px;
  }

  .favorites-page .rating-favorites {
    display: inline-block;
  }

  .favorites-page .card-rating-value {
    font-size: 13px;
    line-height: 13px;
  }

  .favorites-page .card-rating {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .favorites-page .card-price-note {
    width: auto;
    margin-top: auto;
    margin-right: 10px;
    line-height: 10px;
  }

  .pizza-page .reviews {
    margin-bottom: 50px;
  }

  .pizza-page .reviews-top {
    justify-content: flex-start;
    margin-bottom: 30px;
  }

  .pizza-page .reviews-title {
    padding: 0;
    margin: 0;
    margin-right: 20px;
  }

  .pizza-page .reviews-count {
    position: relative;
    padding-left: 25px;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    margin-right: 10px;
  }

  .pizza-page .reviews-count::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../../assets/img/star.svg);
    background-size: 20px 20px;
    background-position: left center;
    background-repeat: no-repeat;
  }

  .pizza-page .reivews-new-review-link {
    display: inline-block;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: var(--full-dark-gray);
    text-decoration: none;
  }

  .pizza-page .reivews-new-review-link:hover {
    text-decoration: underline;
  }

  .pizza-page .reviews {
    position: relative;
  }

  .pizza-page .review-container {
    display: flex;
    padding-bottom: 30px;
    overflow: scroll;
  }

  .pizza-page .controls-list {
    margin: 0;
    position: absolute;
    top: -5px;
    right: 0;
  }

  .cart-page .cart-list {
    margin-right: 10px;
  }
}

@media (min-width: 800px) {
  .home-page .card:nth-child(3n) {
    margin-right: 25px;
  }

  .home-page .card:nth-child(4n) {
    margin-right: 0;
  }

  .menu-page .card:nth-child(2n) {
    margin-right: 25px;
  }

  .menu-page .card:nth-child(3n) {
    margin-right: 0;
  }

  .cart-page .cart-list {
    margin-right: 20px;
    flex-grow: 1;
  }
}

@media (min-width: 1000px) {
  .home-page .wrapper {
    width: 970px;
    padding: 0 15px;
  }

  .home-page .card {
    margin-right: 16px;
  }

  .home-page .card:nth-child(3n) {
    margin-right: 16px;
  }

  .home-page .card:nth-child(4n) {
    margin-right: 0;
  }

  .menu-page .wrapper {
    width: 970px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 60px;
  }

  .favorites-list-section {
    width: 610px;
  }

  .favorites-page .card-image-container-link,
  .favorites-page .card-image-container-link img {
    width: 111px;
    height: 111px;
  }

  .favorites-page .card-details-bottom {
    display: none;
  }

  .favorites-page .favorites-button {
    width: 52px;
    height: 52px;
    bottom: 20px;
    right: 20px;
  }

  .favorites-page .favorites-button svg {
    width: 25px;
    height: 22px;
  }

  .favorites-page .wrapper {
    width: 970px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 60px;
  }

  .pizza-page .wrapper {
    width: 970px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 60px;
  }

  .pizza-page .reviews-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .pizza-page .reviews {
    width: 470px;
  }

  .pizza-page .new-review {
    width: 470px;
    margin: 0;
  }

  .pizza-page .reivews-new-review-link {
    display: none;
  }

  .pizza-page .review-container {
    overflow: hidden;
    padding-bottom: 0;
    flex-direction: column;
    min-height: 240px;
  }

  .pizza-page .controls-list {
    right: 20px;
  }

  .cart-page .wrapper {
    width: 970px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 60px;
  }
}
