.card {
  display: flex;
  position: relative;

  margin: 0;
  margin-bottom: 20px;
  padding: 10px;

  background: var(--basic-white);
  border-radius: var(--border-radius);
}

.card-image-container-link {
  cursor: pointer;
}

.card-button {
  position: absolute;
}

.card-details {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

.card-details-top {
  display: flex;
  flex-direction: column;
}

.card-title {
  order: 1;
}

.card-title,
.card-title-link {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  cursor: pointer;
  text-decoration: none;
}

.card-title-link:hover,
.card-title-link:focus {
  color: var(--basic-red);
}

.card-pizza-type {
  padding: 0;
  margin: 0;
  margin-bottom: 2px;
  order: 0;

  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: var(--semi-dark-gray);
}

.card-price {
  padding: 0;
  margin: 0;
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
}

.card-rating-value,
.card-price-note {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: var(--full-dark-gray);
}

.card-price-note {
  line-height: 16px;
  width: 100%;
}

.card-price-current {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: var(--basic-black);
  margin-right: 5px;
}

.card-price-previous-number {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  vertical-align: top;
  color: var(--light-gray);
  padding: 0 3px;
}

.card-price-previous-line {
  display: block;
  height: 1px;
  background-color: var(--light-gray);
  margin-top: -6px;
}

.card-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-not-added .card-fill {
  fill: transparent;
}

.card-pizza-kcal {
  order: 1;
}

.card-rating {
  order: 1;
}

.rating-stars {
  width: 64px;
  height: 12px;
  position: relative;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 5px;
}

.rating-stars::before {
  content: "";
  height: 12px;
  width: 64px;
  background-size: 64px 12px;
  background-image: url(../../assets/img/stars.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.rating-stars-active {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 100%;
  overflow: hidden;
}

.rating-stars-active::before {
  content: "";
  display: inline-block;
  height: 12px;
  width: 64px;
  background-image: url(../../assets/img/stars-active.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.card-details-new-button {
  margin-top: auto;
  margin-bottom: 5px;
}

.rating-favorites {
  display: none;
  vertical-align: top;
  width: 14px;
  height: 13px;
  margin-right: 3px;
  background-image: url(../../assets/img/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.ingredients-favorites {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  width: 200px;

  display: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--full-dark-gray);
  order: 1;
}

.card-mark {
  box-sizing: border-box;
  width: 43px;
  height: 20px;
  padding: 5px 0;
  position: absolute;

  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: var(--basic-white);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.mark-new {
  background-color: var(--basic-green);
  border-radius: 10px 0;
  left: 0;
  top: 0;
}

.mark-top {
  background-color: var(--basic-yellow);
  border-radius: 10px 0;
  left: 0;
  top: 0;
}

.mark-sale {
  display: none;
  background-color: var(--basic-red);
  border-radius: 0 10px;
  right: 0;
  top: 0;
}

.card-image-container-link {
  width: 106px;
  height: 106px;
  margin-right: 10px;
  flex-shrink: 0;
}

.card-rating {
  margin-bottom: 0;
}

.card-pizza-kcal {
  display: none;
}

.favorites-button {
  position: absolute;
  top: 10px;
  right: 10px;

  background-color: var(--basic-white);
}

.card-button:hover .card-fill {
  fill: var(--basic-red);
}

.card-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.cart-button:hover {
  background-color: var(--medium-dark-gray);
}

.card-details-top {
  margin-bottom: 20px;
}

/* .card-details-bottom {
  display: none;
} */

@media (min-width: 600px) {
  .card-mark {
    width: 50px;
    height: 24px;
    padding: 6px 0;

    font-size: 12px;
    line-height: 12px;
  }

  .favorites-button {
    background-color: var(--bg-gray);
  }

  .favorites-button:hover {
    background-color: var(--medium-dark-gray);
  }

  .card {
    box-sizing: border-box;
    width: 180px;
    padding: 20px;

    flex-direction: column;
  }

  .card-image-container-link {
    margin: 0 auto;
    width: 128px;
    height: 128px;
  }

  .card-image-container-link img {
    width: 128px;
    height: 128px;
  }

  .card-details {
    padding-right: 0;
  }

  .card-title,
  .card-title-link {
    font-size: 16px;
  }

  .favorites-button {
    top: 15px;
    right: 15px;
  }

  .cart-button {
    bottom: 15px;
    right: 15px;
  }

  .card-rating {
    margin-bottom: 10px;
  }

  .card-rating-value {
    font-size: 12px;
  }

  .card-pizza-kcal {
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;

    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: var(--full-dark-gray);
  }

  .card-pizza-type {
    margin-bottom: 5px;
  }

  .card-details-new-button {
    margin-bottom: 0;
  }
}

@media (min-width: 1000px) {
  .card {
    width: 230px;
  }

  .mark-sale {
    display: block;
  }

  .card-image-container-link {
    margin: 0 auto;
    width: 180px;
    height: 180px;
  }

  .card-image-container-link img {
    width: 180px;
    height: 180px;
  }

  .card-details-bottom {
    display: block;
    margin-bottom: 30px;
  }

  .favorites-button {
    top: auto;
    bottom: 15px;
    right: 65px;
  }

  .cart-button {
    right: 20px;
  }
}
