.header-main {
  background-color: var(--basic-white);
}

.logo {
  display: block;
  width: 118px;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: var(--basic-red);
  text-decoration: none;
}

.nav-main-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-main-item a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  color: var(--basic-black);
}

.nav-main-toggle {
  display: none;
}

.nav-user-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-favorites-empty .favorites-fill,
.nav-cart-empty .cart-fill {
  fill: none;
}

@media (min-width: 320px) {
  .header-main-top {
    height: 80px;
    background-color: var(--basic-white);

    position: relative;
  }

  .logo {
    position: absolute;
    bottom: 30px;
    left: 10px;
  }

  .nav-main-item {
    border-bottom: 1px solid var(--basic-white);
  }

  .nav-main-item:last-child {
    border-bottom: 1px solid var(--bg-gray);
  }

  .nav-main-item a {
    display: block;
    padding: 15px 0;
    text-align: center;

    background-color: var(--bg-gray);
    color: var(--semi-dark-gray);
  }

  .nav-main-item a:hover {
    background-color: var(--medium-dark-gray);
    color: var(--basic-black);
  }

  .nav-main-toggle {
    display: block;
    width: 30px;
    height: 30px;

    position: absolute;
    bottom: 30px;
    right: 10px;

    border: none;
    cursor: pointer;
  }

  .nav-user-list {
    display: flex;
    border-top: 1px solid var(--medium-dark-gray);
    border-bottom: 1px solid var(--medium-dark-gray);
    background-color: var(--bg-gray);
  }

  .nav-user-list li {
    width: 50%;
  }

  .nav-user-link {
    display: block;
    padding: 10px 0;

    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: var(--dark-gray);

    background-color: var(--bg-gray);
  }

  .nav-user-link:hover {
    background-color: var(--medium-dark-gray);
  }

  .nav-icon-block {
    margin-top: 5px;
  }

  .nav-icon-block svg {
    width: 25px;
    height: 22px;
    margin-right: 10px;
  }

  .nav-icon-block span {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;

    vertical-align: baseline;
  }

  .nav-icon-fill-stroke {
    fill: #44515d;
  }
}

@media (min-width: 600px) {
  .header-main-container {
    position: relative;
  }

  .nav-main-toggle {
    display: none;
  }

  .nav-main {
    background-color: var(--basic-yellow);
  }

  .nav-main-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
  }

  .nav-main-item {
    margin-right: 30px;
    border-bottom: none;
  }

  .nav-main-item:last-child {
    border: none;
  }

  .nav-main-item a {
    color: var(--basic-black);
    padding: 14px 10px;
    background-color: transparent;
  }

  .nav-main-item a:hover,
  .nav-main-item a:focus {
    background-color: transparent;
    color: var(--basic-red);
  }

  .nav-main-item .nav-item-current-link,
  .nav-main-item a:active {
    color: var(--basic-white);
    background-color: var(--basic-yellow);
    border-radius: 10px;
  }

  .nav-user-list {
    border-top: none;
    border-bottom: none;
    background-color: var(--basic-white);
    width: 170px;
    height: 30px;
    display: flex;
    justify-content: space-between;

    position: absolute;
    top: 25px;
    right: 10px;
  }

  .nav-user-list li {
    width: 80px;
  }

  .nav-user-link {
    padding: 8px 15px;
    border-radius: 15px;
  }

  .nav-user-link-title {
    display: none;
  }

  .nav-icon-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
  }

  .nav-icon-block svg {
    width: 16px;
    height: 14px;
    margin-right: 0;
  }

  .nav-icon-block span {
    font-size: 14px;
    line-height: 14px;
    color: var(--basic-black);
  }

  .nav-icon-fill-stroke {
    fill: #181818;
  }
}

@media (min-width: 1000px) {
  .header-main-container {
    width: 970px;
    padding: 0 15px;
    margin: 0 auto;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    position: static;
    bottom: auto;
    left: auto;
  }

  .header-main-top {
    height: auto;
    width: 120px;
    margin-right: 20px;
  }

  .nav-main {
    max-width: 500px;
    background-color: transparent;
  }

  .nav-main-list {
    margin-left: 0;
  }

  .nav-main-item a {
    font-size: 14px;
    line-height: 14px;
    padding: 4px 8px;
  }

  .nav-user-list {
    position: static;
    top: auto;
    left: auto;
  }
}
