.sort-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sort-list-item {
  margin: 0;
  margin-right: 10px;
}

.sort-list-item:last-child {
  margin-right: 0;
}

.sort-list-button {
  border: 2px solid transparent;
}

.sort-list-button:hover {
  color: var(--basic-red);
}

.active-item .sort-list-button {
  border: 2px solid var(--basic-red);
  color: var(--basic-red);
}

@media (min-width: 320px) {
  .sort-list-item:nth-child(3n) {
    margin-right: 0;
  }
}
